{
    "rules": {
        "quotes": [
            1,
            "double"
        ],
        "semi": [
            2,
            "always"
        ],
        "W088":0
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
        "jquery": true
    },
    "extends": "eslint:recommended"
}
